<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    
    <servlet>
        <servlet-name>mainPage</servlet-name>
        <servlet-class>mainPage</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>product</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>sessionTracking</servlet-name>
        <servlet-class>sessionTracking</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>addToCart</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>viewCart</servlet-name>
        <servlet-class>viewCart</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>confirmation</servlet-name>
        <servlet-class>confirmation</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>orderSummary</servlet-name>
        <servlet-class>orderSummary</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>mainPage</servlet-name>
        <url-pattern>/mainPage</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>viewCart</servlet-name>
        <url-pattern>/viewCart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>confirmation</servlet-name>
        <url-pattern>/confirmation</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>orderSummary</servlet-name>
        <url-pattern>/orderSummary</url-pattern>
    </servlet-mapping>
    
    
    <welcome-file-list>
        <welcome-file>mainPage</welcome-file>
    </welcome-file-list>
    
</web-app>







